<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.message-payload-provider</string>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>Vibes</string>
	<key>MSMessagesExtensionStoreIconName</key>
	<string>iMessage App Icon</string>
	<key>NSCameraUsageDescription</key>
	<string>Vibes needs access to your camera to record video vibes.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Vibes needs access to your microphone to record audio for your vibes.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Vibes needs access to Apple Music to share songs.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Vibes needs access to save videos to your photo library.</string>
</dict>
</plist>
